html{
    font-family: 'Poppins', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

header{
    font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 36px;
     color:  gray1;
}
.header a{
    color: rgb(8, 8, 8);
    text-decoration: none;
}
.container_class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .cabecera ul {
 margin:0;
 padding:0;
 list-style: none;
 }
 .cabecera ul li {
     display: inline-block;

 }
 .cabecera ul li a {
     display: block;
     padding: 0.5rem 1rem;
 }
main{
    font-family: 'Poppins', sans-serif;
    display: flex;
}
.p1{
    color: #4F4F4F;
    margin-top: 0px;
    margin-bottom: 42px;
    font-size: 18px;
    line-height: 27px;
}
.azul{
    font-weight: 500;
    color: #2D9CDB;
    margin-bottom: 16px;
}
.titulos1{
    color: #333333;
    font-size: 48px;
    line-height: 72px;
    font-style: normal;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 42px;
}
.imagen1{
    margin-left: 52px;
    margin-right: 56px;
    width: 1332px;
    height: 354px;
    margin-bottom: 42px;
    border-radius: 18px;
}
.section1{
    display: flex;
    flex-direction: column;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
.part1{
    margin-left: 277px;
}

.box1{
    margin-left: 277px;
    max-width: 366px;
}
.form1 p{
    color: #828282;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-top: 0px;
    margin-bottom: 9px;
}
.form1{
    margin-left: 277px;
}
.email-main{
    width: 350px;
    height: 57px;
    padding-left: 21px;
    position: relative;
    border-radius: 12px;
    background-color: #F2F2F2;
    border-style: none;
    z-index: 1;
}
.submit-main{
    position: relative;
    border-style: none;
    background-color: #2D9CDB;
    color: #F2F2F2;
    z-index: 2;
    right: 102px;
    width: 94px;
    height: 49px;
    border-radius: 12px;
}
.section2{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 165px;
    /* position: relative; */
}
.titulos2{
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    font-style: normal;
    color: #333333;
    margin: 0px;
}
.container{
    display: flex;
    margin-top: 42px;
}
.box2{
    width: 341px;
    height: 422px;
    margin: 0 10px;
    padding-left: 35px;
    padding-right: 33px;
    padding-top: 46px;
    padding-bottom: 84px;
    box-sizing: border-box;
}
.box2 img{
    width: 27px;
    height: 27px;
}
.icono1{
    width: 67px;
    height: 67px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}
.color1{
    background-color: #2D9CDB;
}
.color2{
    background-color: #27AE60;
}
.color3{
    background-color: #EB5757;
}
.box2 button{
    width: 116px;
    height: 42px;
    border-radius: 12px;
    color: #E0E0E0;
    border: none;
    margin-top: 30px;
}
.box2 button a{
    text-decoration: none;
    color: #828282;
}
.box2 .bot1 a{
    background-color: #2D9CDB;
    color: #FFFFFF;
}
.box2 .bot1 {
    background-color: #2D9CDB;
}
.shadow {
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
    border-radius: 24px;
}
.rotado{
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    position: relative;
    bottom: 4px;
    left: 3px;
}
.rotado1{
    position: relative;
    right: 4px;
}
.section3{
    display: flex;
    margin-top: 156px;
    flex-direction: column;
}
.section3 h1{
    margin-left: 165px;
}
.box3 img{
    width: 545px;
    height: 545px;
    border-radius: 24px;
}
.box3 p{
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
    margin-top: 20px;
}
.box3 h4{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin: 0px;
    color: #333333;
}
.box3{
    margin: 0px 0px 150px 0px;
}
.section3 p a{
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #2D9CDB;
    position: absolute;
    top: 1540px;
    left: 1116px;
    margin-bottom: 219px;
}
.container2{
    display: flex;
    flex-direction: column;
    position: relative;
}
.box3.v1{
    top: 12px;
    position: absolute;
    box-sizing: border-box;
    left: 730px;
}
.box3.v2{
    top: 188px;
    position: relative;
    box-sizing: border-box;
    left: 165px;
}
.box3.v3{
    top: 793px;
    position: absolute;
    box-sizing: border-box;
    left: 730px;
}
.box3.v4{
    top: 141px;
    position: relative;
    box-sizing: border-box;
    left: 165px;
}
.section4{
    position: relative;
    left: 170px;
    display: flex;
    height: 584px;
    width: 1103.43px;
    align-items: center;
    margin-top: 220px;
    margin-bottom: 196px;
}
.cuadro{
    position:static;
    height: 258px;
    width: 280px;
}
.rojo{
    color: #EB5757;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}
.pic{
    border-radius: 24px;
}
.pic.b {
    position: absolute;
    width: 320px;
    height: 320px;
    right: 316px;
    bottom: 132px;
}
.pic.a{
    position: relative;
    width: 260px;
    height: 260px;
    bottom: 324px;
    left: 260px;
}
.pic.c{
    position: relative;
    width: 292px;
    height: 300px;
}
.imagenes{
    display: flex;
    position: relative;
    height: 584px;
    width: 635.5px;
    left: 188px;
    justify-content: flex-end;
    align-items: flex-end;
}
.section5{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 170px;
    margin-bottom: 200px;
}
.section5 div{
    display: flex;
    justify-content: flex-start;
}
.cita{
    margin-top: 36px;
}
.section5 div img{
    width: 82px;
    height: 82px;
    border-radius: 12px;
    margin-right: 30px;
}
.nombre{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #333333;
    margin: 0px;
}
.parrafo1{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}
.parrafo1.oficio {
    color: #828282;
}
.links {
    display: none;
    color: #ffffff;
    text-decoration: none;
    margin-left: 166px;
    margin-top: 46px;
    line-height: 200%;
  }

.logo {
    font-family: 'Antonio', sans-serif;
    margin-bottom: 0px;
    margin-top:46px;
  }
  
.contacto {
    height: 15vh;
    margin-top: 49px;
}
  
.contacto p {
    font-size: 0.7em;
    color: #3f3d3d;
}
  
.contacto div {
    position: relative;
}
  
.contacto button{
    position: relative;
    border-style: none;
    background-color: #2D9CDB;
    color: #F2F2F2;
    z-index: 2;
    right: 102px;
    width: 94px;
    height: 49px;
    border-radius: 12px;
}
  
.contacto input {
    width: 350px;
    height: 57px;
    padding-left: 21px;
    position: relative;
    border-radius: 12px;
    background-color: #F2F2F2;
    border-style: none;
    z-index: 1;
}

.contacto input:focus-visible {
    outline: none;
}

footer {
    width: 100vw;
    background: #100E1D;
    padding-bottom: 5rem;
}
  
footer .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
}
  
footer .links a {
    color: #fff;
    padding-bottom: 0.4rem;
    text-decoration: none;
    font-size: 1.1rem;
}
  
footer .logo {
    color: #fff;
    margin-left: unset;
    padding: 0.5rem 2rem;
}
  
footer .social {
    padding: 1.5rem;
}
  
footer .social img {
    padding: 0.5rem;
    cursor: pointer;
}
  
footer .contacto {
    margin-top: 81px;
    -webkit-transform: translateX(-1.5%);
            transform: translateX(-1.5%);
}
  
footer .contacto p {
    color: #fff;
}

footer .contacto div input {
    color: black;
}

@media screen and (min-width: 500px) {
    .contacto input {
      width: 20rem;
    }    
    footer {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr;
    }
    footer .socials {
      padding-top: 2rem;
    }
    footer .contacto input {
      width: 45%;
    }
}
  
@media screen and (min-width: 1200px) {
    .contacto div::after {
      left: 26%;
    }
    footer .contacto div::after {
      left: 51%;
    }
}
